@import '/src/assets/styles/variables';

.close-button {
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: $secondary-color;
  color: $primary-text-color;
  font-size: 0.7rem;
  cursor: pointer;
  border: none;
}